<div id="cadastro-empresa-page" class="app-page">
	<h2 class="page-title">Cadastro de empresas</h2>
	<form id="cadastro-empresa-form" role="form">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#" data-target="#dados-basicos">Dados B&aacute;sicos</a></li>
			<li><a href="#" data-target="#conhecendo-empresa">Conhecendo sua empresa</a></li>
			<li><a href="#" data-target="#captacao">Capta&ccedil;&atilde;o</a></li>
		</ul>
		<div class="container tab-content">
			<div id="dados-basicos" class="tab-pane active">
				<h4 id="dados-empresa-title">Dados da empresa</h4>
				<div id="dados-empresa">
					<div class="row">
						<div class="col-md-6">
							<label for="nome-empresa">Nome da empresa</label>
							<input type="text" class="form-control" id="nome-empresa"/>
						</div>
						<div class="col-md-3">
							<label for="cnpj">CNPJ</label>
							<input type="text" class="form-control" id="cnpj"/>
						</div>
						<div class="col-md-3">
							<label for="telefone-ramal">Telefone/Ramal</label>
							<input type="text" class="form-control" id="telefone-ramal" />
						</div>
					</div>
					<div class="row">
						<div class="col-md-3">
							<label for="cep">CEP</label>
							<input type="text" class="form-control" id="cep"/>
						</div>
						<div class="col-md-3">
							<label for="pais">Pa&iacute;s</label>
							<select name="pais" id="pais"  class="form-control">
								<option value="br">Brasil</option>
							</select>
						</div>
						<div class="col-md-3">
							<label for="estado">Estado</label>
							<select name="estado" id="estado" class="form-control">
								<option value="rj">Rio de Janeiro</option>
							</select>
						</div>
						<div class="col-md-3">
							<label for="cidade">Cidade</label>
							<input type="text" class="form-control" id="cidade" />
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<label for="endereco-completo">Endere&ccedil;o completo</label>
							<input type="text" class="form-control" id="endereco-completo" />
						</div>
					</div>
				</div>
				<h4 id="dados-socio-title">Dados dos s&oacute;cios</h4>
				<div id="dados-socios" ng-repeat="socio in socios">
					<div class="row">
						<div class="col-md-8">
							<div class="row">
								<div class="col-md-8">
									<label for="nome">Nome</label>
									<input type="text" class="form-control nome" />
								</div>
								<div class="col-md-4">
									<label for="cpf">CPF</label>
									<input type="text" class="form-control cpf" />
								</div>
							</div>
							<div class="row">
								<div class="col-md-8">
									<label for="email">Email</label>
									<input type="text" class="form-control email" />
								</div>
								<div class="col-md-4">
									<label for="telefone">Telefone/Ramal</label>
									<input type="text" class="form-control telefone" />
								</div>
							</div>
							<div class="row">
								<div class="col-md-8">
									<label for="desc-profissional">Descri&ccedil;&atilde;o profissional</label>
									<textarea rows="4" class="form-control desc-profissional"></textarea>
								</div>
								<div class="col-md-4">
									<label for="celular">Celular</label>
									<input type="text" class="form-control celular" />
									<label for="cargo">Cargo</label>
									<input type="text" class="form-control cargo" />
								</div>
							</div>
						</div>
						<div class="col-md-4 image-upload-container" ng-mouseover="showOverlay = true;console.log(showOverlay)" ng-mouseout="showOverlay = false" ng-init="showOverlay = false">
							<input type="file" />
							<div class="image-upload-overlay" ng-class="{showOverlay: showOverlay}">
								<span>Clique para carregar sua imagem</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<button id="adicionar-socio" class="pull-left btn btn-bambuzza" ng-click="adicionarSocio()">Adicionar mais um socio</button>
				</div>
				<div class="row text-center">
					<button class="btn btn-bambuzza">Salvar dados b&aacute;sicos</button>
				</div>
			</div>
			<div id="conhecendo-empresa" class="tab-pane">
				<div class="row">
					<div class="col-md-12">
						<label>Qual o setor do seu negocio?</label>
						<select ng-model="setorNegocio" ng-options="setor.name for setor in setores"></select>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<label for="problema">Qual o problema que seu neg&oacute;cio resolve ou qual oportunidade que ele aproveita?</label>
						<textarea id="problema" name="problema" rows="3" class="form-control"></textarea>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<label for="qual-produto">Qual &eacute; o seu produto/servi&ccedil;o?</label>
						<textarea id="qual-produto" name="qual-produto" rows="3" class="form-control"></textarea>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<label for="como-resolve">Como o seu produto/servi&ccedil;o resolve esse problema?</label>
						<textarea id="como-resolve" name="como-resolve" rows="3" class="form-control"></textarea>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<span>Em qual est&aacute;gio de desenvolvimento sua empresa se encontra?</span>
					</div>
				</div>
				<div class="row radio-row">
					<div class="col-md-12">
						<label>
							<input type="radio" value="ideia"/>Apenas uma ideia
						</label>
					</div>
				</div>
				<div class="row radio-row">
					<div class="col-md-12">
						<label>
							<input type="radio" value="prototipo-desenvolvido"/>Um prot&oacute;tipo sendo desenvolvido
						</label>
					</div>
				</div>
				<div class="row radio-row">
					<div class="col-md-12">
						<label>
							<input type="radio" value="prototipo-funcional"/>Um prot&oacute;tipo funcional
						</label>
					</div>
				</div>
				<div class="row radio-row">
					<div class="col-md-12">
						<label>
							<input type="radio" value="empresa"/>Uma empresa em funcionamento
						</label>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<label for="comente-socios">Comente sobre os s&oacute;cios e demais pessoas-chave do neg&oacute;cio.</label>
						<textarea id="comente-socios" name="comente-socios" rows="3" class="form-control"></textarea>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<label for="quem-clientes">Quem s&atilde;o os clientes do seu neg&oacute;cio?</label>
						<textarea id="quem-clientes" name="quem-clientes" rows="3" class="form-control"></textarea>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<label for="quem-concorrentes">Quem s&atilde;o seus concorrentes?</label>
						<textarea id="quem-concorrentes" name="quem-concorrentes" rows="3" class="form-control"></textarea>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<label for="qual-diferencial">Qual o seu diferencial?</label>
						<textarea id="qual-diferencial" name="qual-diferencial" rows="3" class="form-control"></textarea>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<label for="barreiras">Seu neg&oacute;cio tem barreira(s) de entrada ? Qual(is) ?</label>
						<textarea id="barreiras" name="barreiras" rows="3" class="form-control"></textarea>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<label for="tamanho-mercado">Qual o tamanho do seu mercado?</label>
						<input type="number" class="form-control" id="tamanho-mercado" />
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<label for="market-share">Qual Market Share a empresa busca?</label>
						<textarea id="market-share" name="market-share" rows="3" class="form-control"></textarea>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<label for="comente-clientes">A empresa j&aacute; tem clientes? Se sim, quantos s&atilde;o? Comente sobre eles.</label>
						<textarea id="comente-clientes" name="comente-clientes" rows="3" class="form-control"></textarea>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<label for="crescimento">Porque a empresa ter&aacute; crescimento arrojado?</label>
						<textarea id="crescimento" name="crescimento" rows="3" class="form-control"></textarea>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<label for="como-ganhara-dinheiro">De que forma ganha ou vai ganhar dinheiro no neg&oacute;cio?</label>
						<textarea id="como-ganhara-dinheiro" name="como-ganhara-dinheiro" rows="3" class="form-control"></textarea>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<label for="faturamento-ultimo-ano">Caso tenha, qual o seu faturamento mensal m&eacute;dio no &uacute;ltimo ano?</label>
						<input type="number" class="form-control" id="faturamento-ultimo-ano" />
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<label for="capital-investido">Quanto de capital j&aacute; foi investido na empresa?</label>
						<textarea id="capital-investido" name="capital-investido" rows="3" class="form-control"></textarea>
					</div>
				</div>
				<div class="row text-center">
					<button class="btn btn-bambuzza">Salvar dados da empresa</button>
				</div>
			</div>
			<div id="captacao" class="tab-pane">
				<div class="row">
					<div class="col-md-12">
						<label for="aporte-financeiro">Qual aporte financeiro a empresa busca?</label>
						<input type="number" class="form-control" id="aporte-financeiro" />
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<label for="como-utilizar-aporte">Como esse aporte vai ser utilizado?</label>
						<textarea id="como-utilizar-aporte" class="form-control" rows="4"></textarea>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<label class="inline-radio">Sua empresa j&aacute; tem investidor?</label>
						<span class="inline-radio-group">
							<label class="inline-radio"><input type="radio" value="s"/>Sim</label>
							<label class="inline-radio"><input type="radio" value="n"/>N&atilde;o</label>
						</span>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<label for="quem-sao-investidores">Quem s&atilde;o seus atuais investidores?</label>
						<textarea id="quem-sao-investidores" class="form-control" rows="4"></textarea>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<label for="qual-investidor-procura">Você procura algum tipo específico de investidor? Qual?</label>
						<textarea id="qual-investidor-procura" class="form-control" rows="4"></textarea>
					</div>
				</div>
				<div class="row text-center">
					<button class="btn btn-bambuzza">Finalizar todo o cadastro</button>
				</div>
			</div>
		</div>
	</form>
</div>
<script src="resources/js/tabs.js"></script>