<div id="cadastro-investidor-page" class="app-page">
	<h2 class="page-title">Cadastro de Investidores</h2>
	<form id="cadastro-investidor-form" role="form">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#" data-target="#dados-basicos">Dados B&aacute;sicos</a></li>
			<li><a href="#" data-target="#seu-perfil">Conhecendo seu perfil</a></li>
		</ul>
		<div class="container tab-content">
			<div id="dados-basicos" class="tab-pane active">
				<div class="row">
					<div class="col-md-6">
						<label for="nome-completo">Nome completo</label>
						<input type="text" class="form-control" id="nome-completo"/>
					</div>
					<div class="col-md-3">
						<label for="cpf">CPF</label>
						<input type="text" class="form-control" id="cpf"/>
					</div>
					<div class="col-md-3">
						<label for="telefone-ramal">Telefone/Ramal</label>
						<input type="text" class="form-control" id="telefone-ramal" />
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<label for="cep">CEP</label>
						<input type="text" class="form-control" id="cep"/>
					</div>
					<div class="col-md-3">
						<label for="pais">Pa&iacute;s</label>
						<select name="pais" id="pais"  class="form-control">
							<option value="br">Brasil</option>
						</select>
					</div>
					<div class="col-md-3">
						<label for="estado">Estado</label>
						<select name="estado" id="estado" class="form-control">
							<option value="rj">Rio de Janeiro</option>
						</select>
					</div>
					<div class="col-md-3">
						<label for="cidade">Cidade</label>
						<input type="text" class="form-control" id="cidade" />
					</div>
				</div>
				<div class="row text-center">
					<button class="btn btn-bambuzza">Salvar dados b&aacute;sicos</button>
				</div>
			</div>
			<div id="seu-perfil" class="tab-pane">
				<div class="row">
					<div class="col-md-12">
						<label class="inline-radio">Que tipo de investidor voc&ecirc; &eacute;</label>
						<span class="inline-radio-group">
							<label class="inline-radio"><input type="radio" value="pf"/>Pessoa F&iacute;sica</label>
							<label class="inline-radio"><input type="radio" value="anjo"/>Investidor Anjo</label>
							<label class="inline-radio"><input type="radio" value="fundo"/>Fundo de Investimento</label>
							<label class="inline-radio"><input type="radio" value="empresa"/>Empresa</label>
						</span>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<label for="ja-investiu">J&aacute; investiu em alguma pequena/m&eacute;dia empresa? Se sim, quais?</label>
						<textarea id="ja-investiu" name="ja-investiu" rows="3" class="form-control"></textarea>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<span>Esta ciente dos riscos desse tipo de investimento? </span>
					</div>
				</div>
				<div class="row radio-row">
					<div class="col-md-12">
						<label>
							<input type="radio" value="s"/>Sim
						</label>
					</div>
				</div>
				<div class="row radio-row">
					<div class="col-md-12">
						<label>
							<input type="radio" value="n"/>Nao
						</label>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<label for="busca-especifica">Busca algum(s) tipo(s) espec&iacute;fico(s) de empresa? Qual(is)?</label>
						<textarea id="busca-especifica" name="busca-especifica" rows="3" class="form-control"></textarea>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<label for="valor-disponivel">Qual valor dispon&iacute;vel para esse tipo de investimento?</label>
						<input type="number" />
					</div>
				</div>
				<div class="row text-center">
					<button class="btn btn-bambuzza">Finalizar cadastro</button>
				</div>
			</div>
		</div>
	</form>
</div>
<script src="resources/js/tabs.js"></script>