<div id="pre-cadastro" class="app-page">
	
	<h2 class="page-title">Cadastre-se</h2>
	<form id="pre-cadastro-form" class="form-horizontal" name="preCadastroForm" role="form" novalidate>
		<div id="pre-cadastro-container">
			<h4>Com uma conta na Bambuzza voc&ecirc; tem acesso aos melhores investidores e investimentos</h4>
			<div class="form-group" ng-class="{'has-error' : preCadastroForm.nome.$invalid && !preCadastroForm.nome.$pristine }">
				<label for="nome" class="col-xs-12 col-sm-1 col-md-1 col-lg-1">Nome</label>
				<div class="col-xs-12 col-sm-11 col-md-11 col-lg-11">
					<input type="text" name="nome" id="nome" class="form-control" ng-model="nome" required/>
				</div>
			</div>
			<div class="form-group" ng-class="{'has-error' : preCadastroForm.email.$invalid && !preCadastroForm.email.$pristine }">
				<label for="email" class="col-xs-12 col-sm-1 col-md-1 col-lg-1">Email</label>
				<div class="col-xs-12 col-sm-11 col-md-11 col-lg-11">
					<input type="email" name="email" id="email" class="form-control" ng-model="email" required/>
				</div>
			</div>
			<div class="form-group" ng-class="{'has-error' : (preCadastroForm.senha.$invalid || senha !== confirm)&& !preCadastroForm.senha.$pristine }">
				<label for="senha" class="col-xs-12 col-sm-12 col-md-1 col-lg-1">Senha</label>
				<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
					<input type="password" name="senha" id="senha" class="form-control" ng-model="senha" required/>
				</div>
				<label for="confirme" class="col-xs-12 col-sm-12 col-md-1 col-lg-1">Confirme</label>
				<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
					<input type="password" id="confirme" name="confirm" class="form-control" ng-model="confirm" required/>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-11 col-md-offset-1 col-lg-11 col-lg-offset-1">
					<div class="form-group" ng-class="{'has-error' : preCadastroForm.tipo.$invalid && !preCadastroForm.tipo.$pristine }" id="qual-perfil">
						<h4>Qual o seu perfil?</h4>
						<label for="investidor" class="radio-inline">
							<input type="radio" id="investidor" name="tipo" value="investidor" ng-model="tipo" required/>Sou Investidor
						</label>
						<label for="empresa" class="radio-inline">
							<input type="radio" id="empresa" name="tipo" value="empresa" ng-model="tipo" required/>Sou Empresa/Startup
						</label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-11 col-md-offset-1 col-lg-11 col-lg-offset-1">
					<div class="form-group" ng-class="{'has-error' : preCadastroForm.aceito.$invalid && !preCadastroForm.aceito.$pristine }">
						<button class="btn btn-bambuzza" ng-click="lerContrato = true" ng-hide="lerContrato">Ler contrato</button>
						<div id="contrato" ng-show="lerContrato">
							<textarea name="ler-contrato" class="form-control" rows="4" ng-model="contrato" disabled></textarea>
							<label for="aceito" id="label-ac-contrato" class="radio-inline">
								<input type="radio" name="aceito" value="true" id="aceito" required/>Li e concordo com o contrato
							</label>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row text-center">
				<button class="btn btn-bambuzza" ng-click="proximoPasso()" ng-disabled="preCadastroForm.$invalid || senha !== confirm">Criar minha conta</button>
			</div>
		</div>
		
	</form>
	
</div>