@import url(http://fonts.googleapis.com/css?family=Raleway);

* {
	font-family: 'Raleway', 'sans-serif';
}

body {
	padding-top: 70px;
    background-color: #F2F1EF;
    color: black;
}

/*
	BOX SHADOW PATTERN: *px *px 10px black;	
	BASE LIGHT GREEN: #5CB85C;
	BASE DARK GREEN: #049372
*/


/* BOOTSTRAP OVERRIDES */

.navbar-header {
	margin-top: -10px;
}

.navbar {
	border: 0;
	border-radius: 0;
	padding: 0 20px 10px 0;
	box-shadow: 1px 1px 10px rgba(0,0,0,.2);
}

.navbar-header, .navbar-nav > li {
	padding-top: 10px;
}

.navbar-nav > li {
	width: 10em;
}

.navbar-nav > li > a {
	font-size: 17px;
}

.navbar-nav > .active {
	border-top: 5px solid #5CB85C;
}

.navbar-nav > .active > a {
	margin-top: -5px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover{
    background-image: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .open > a, .dropdown-menu > li > a:hover{
	color: #5CB85C !important;
}

.nav-tabs {
	border-bottom: 0;
}

.nav-tabs > li:not(.active) > a, .nav-tabs > li:not(.active) > a:hover, .nav-tabs > li:not(.active) > a:focus {
    background: linear-gradient(to right, #5CB85C 50%, #049372 50%);
	background-size: 200% 100%;
	background-position:right bottom;
	background-color: #049372;
    color: white;
    box-shadow: inset 2px 3px 5px rgba(0,0,0,.2), inset -2px 0px 5px rgba(0,0,0,.2);
    border-radius: 0;
    border: none;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
    margin-right: 0;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	background: linear-gradient(to right, #049372 50%, #5CB85C 50%);
	background-size: 200% 100%;
	background-position:right bottom;
	background-color: #5CB85C;
	color: white;
	border-radius: 0;
	border: none;
	margin-right: 0;
}

.nav-tabs > li:not(.active) > a:hover, .nav-tabs > li:not(.active) > a:focus {
	background-position:left bottom;
}

/* FOOTER  */

#bambuzza-footer {
    box-shadow: 1px -1px 10px rgba(0,0,0,.2);
    color: black;
    background-color: white;
}

#social-info-footer {
    padding: 20px 0;
}

#bambuzza-info-footer {
    height: 15em;
}

#bambuzza-copyright {
	box-shadow: 1px -1px 10px rgba(0,0,0,.2);
	background-color: #ecf0f1;
}

.section-title {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.footer-list {
    list-style: none;
    padding-left: 10px;
}

.footer-list > li > a {
	color: black;
}

.fb-like-box {
	background-color: white;
}

/* UTILS */

.app-page {
	padding: 3em 0 10em 0;
}

.page-title {
	text-shadow: 3px 5px 5px rgba(0,0,0,.2);
}

.inline-radio-group {
	margin-left: 3em;
}

.btn-bambuzza {
    background-image: none;
    background: none;
    background-color: #049372;
    border: 0;
    color: white;
    border: 1px solid #5CB85C;
    padding: 10px 40px;
    box-shadow: 5px 5px 1px #049372;
    font-size: 17px;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
}

.btn-bambuzza:hover {
	box-shadow: none;
	-webkit-transform: translate(5px, 5px);
	-moz-transform: translate(5px, 5px);
	transform: translate(5px, 5px);
	color: white;
}

/* PRE-CADASTOR/CADASTRO INVESTIDOR/EMPRESA */

#pre-cadastro .page-title{
	text-align: center;
}

#pre-cadastro-form {
	width: 75%;
	margin: 0 auto;
}

#pre-cadastro-container .form-group:not(#qual-perfil) div, #pre-cadastro-container .form-group:not(#qual-perfil) label:not(#label-ac-contrato) {
	padding-left: 0;
}

#cadastro-investidor-form .tab-pane.active, #cadastro-empresa-form .tab-pane.active, #pre-cadastro-container {
	padding: 2em 3em;
    background-color: #5CB85C;
    box-shadow: 3px 5px 5px rgba(0,0,0,.2);
    color: white;
}

#cadastro-investidor-form label, #cadastro-empresa-form label {
	font-weight: normal;
	font-size: 17px;
}

#cadastro-investidor-form .active .row:not(.radio-row), #cadastro-empresa-form .active .row:not(.radio-row) {
	margin-bottom: 1em;
}

#cadastro-investidor-form .active .row:not(:first-child):not(.radio-row), #cadastro-empresa-form .active .row:not(:first-child):not(.radio-row) {
	margin-top: 2em;
}

#cadastro-investidor-form .container, #cadastro-empresa-form .container {
	padding-left: 0;
}

#dados-empresa-title, #dados-socio-title {
	border-bottom: 1px solid;
	padding-bottom: 1em;
	margin-bottom: 1em;
}

#dados-socio-title {
	margin-top: 5em;
}

#adicionar-socio {
	margin-left: 1em;
}

.image-upload-container {
	background: url('http://www.googlelunarxprize.org/sites/googlelunarxprize.org/files/styles/profile_picture/public/default-profile.jpg?itok=nhjDlZEI') top left no-repeat transparent;
	margin-top: 2em;
	height: 20em;
	padding-left: 0;
}

.image-upload-container > input{
	cursor: pointer;
	height: inherit;
	opacity: 0;
}

.image-upload-overlay {
    height: 5em;
    background-color: rgba(0,0,0,.7);
    margin-top: -5em;
    width: 22.15em;
    text-align: center;
    opacity: 0;
    -webkit-transition: opacity .3s linear;
    -moz-transition: opacity .3s linear;
    transition: opacity .3s linear;
}

.showOverlay {
	opacity: 1;
}